.nav {
  text-align: center;
  margin: 20px auto 0;
  background:black;
  border: 1px solid #f3ca20;
  border-radius: 5px;
  margin-bottom: 30px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  font-size: 18px;
  color: #f3ca20;
}

.activeLink {
  composes: link;
  color: white;
  font-size: 22px;

}